@keyframes ldio-wzu5q9yi9t {
    0% {
      top: 94px;
      left: 94px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 19px;
      left: 19px;
      width: 150px;
      height: 150px;
      opacity: 0;
    }
  }
  
  .ldio-wzu5q9yi9t div {
    position: absolute;
    border-width: 6px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    animation: ldio-wzu5q9yi9t 1s cubic-bezier(0,0.2,0.8,1) infinite;
  }
  
  .ldio-wzu5q9yi9t div:nth-child(1) {
    border-color: #e90c59;
    animation-delay: 0s;
  }
  
  .ldio-wzu5q9yi9t div:nth-child(2) {
    border-color: #46dff0;
    animation-delay: -0.5s;
  }
  
  .loadingio-spinner-ripple-m3n8nqi9o6f {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;
    overflow: hidden;
    background: transparent;
    z-index: 15;
  }
  
  .ldio-wzu5q9yi9t {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
  }
  
  .ldio-wzu5q9yi9t div { box-sizing: content-box; }