.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    background-color: rgba(#000000, 0.3);
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
    overflow: auto;

    &.open {        
        opacity: 1;
        pointer-events: all;
    }
}

.modal__content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 40px 30px 50px;
    margin: 30px;
    background-color: #33CCCC;
    border-radius: 50px;
    z-index: 100;
    transform: scale(0);
    transition: 1s all;    

    &.open {
        transform: scale(1);
    }

    h2 {
        max-width: 400px;
        margin: 0 0 30px;
        color: #ffffff;
        text-align: center;
    }    
}